# Use for TTS
MINIMAX_API_KEY=sk-xxxxxxxxxx

# Use for internet search, put key as much as possible
TAVILY_API_KEY_0=tvly-dev-asfdasfas-asfasfasdfa
TAVILY_API_KEY_1=tvly-dev-rttrtzrtzertz

# Access to github, connect github to Cloudflare where we deploy
GITHUB_PERSONAL_ACCESS_TOKEN=asdfasfasfasfasdfasdf

# Information source, RSS is typical for news weekly
SOURCE_0=https://www.youasdfasfd
SOURCE_1=https://www.youtasdfasdf
SOURCE_2=https://www.youtasdfasdf